<div class="container">

  <!-- Header -->
  <div class="header">

    <h1>
      <i class="bi bi-list-task"></i>
      Task Manager
    </h1>

    <p>Organisez vos taches efficacement</p>

  </div>

  <!-- Add Task -->
  <div class="add-task">

    <div class="input-box">

      <i class="bi bi-pencil-square"></i>

      <input
        type="text"
        [(ngModel)]="newTaskTitle"
        placeholder="Entrer le titre de la tâche">

    </div>

    @if (!editing) {

    <button class="add-btn" (click)="addTask()">

      <i class="bi bi-plus-lg"></i>

      Ajouter

    </button>

    }

    @if (editing) {

    <button class="update-btn" (click)="updateTask()">

      <i class="bi bi-floppy"></i>

      Mettre à jour

    </button>

    }

  </div>

  <!-- Statistics -->
  <div class="stats">

    <div class="card">

      <i class="bi bi-list-check"></i>

      <div>

        <span>Total des taches</span>

        <h2>{{ tasks.length }}</h2>

      </div>

    </div>

  </div>

  <!-- Table -->

  <table>

    <thead>

    <tr>

      <th>ID</th>

      <th>Titre</th>

      <th>Actions</th>

    </tr>

    </thead>

    <tbody>

    @for (task of tasks; track task.id) {

    <tr>



      <td>
    <span class="badge">
        {{ $index + 1 }}
    </span>
      </td>



      <td>

        {{ task.title }}

      </td>

      <td class="actions">

        <button
          class="edit-btn"
          (click)="editTask(task)">

          <i class="bi bi-pencil"></i>

          Modifier

        </button>

        <button
          class="delete-btn"
          (click)="deleteTask(task.id!)">

          <i class="bi bi-trash"></i>

          Supprimer

        </button>

      </td>

    </tr>

    }

    </tbody>

  </table>

</div>
