<div class="container">

  <h1>Task Manager</h1>

  <p style="color:red; font-size:30px;">
    TEST Hajar - {{ tasks.length }}
  </p>

  <div class="add-task">

    <input
      type="text"
      [(ngModel)]="newTaskTitle"
      placeholder="Entrer le titre de la tâche">

    @if (!editing) {
    <button (click)="addTask()">
      Ajouter
    </button>
    }

    @if (editing) {
    <button (click)="updateTask()">
      Mettre à jour
    </button>
    }

  </div>

  <table>

    <thead>
    <tr>
      <th>ID</th>
      <th>Titre</th>
      <th>Actions</th>
    </tr>
    </thead>

    <tbody>

    @for (task of tasks; track task.id) {

    <tr>

      <td>{{ task.id }}</td>

      <td>{{ task.title }}</td>

      <td>
        <button (click)="editTask(task)">
          Modifier
        </button>

        <button (click)="deleteTask(task.id!)">
          Supprimer
        </button>
      </td>

    </tr>

    }

    </tbody>

  </table>

</div>
